<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style24.css') }}"
  />
  <!-- <link rel="stylesheet" href="style.css"> -->

  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>
    
  </head>
  <body background="yaas_tp.png">
    <div class="yrb">
      <div class="container1">
        <div class="chatbox">
          <div class="chatbox__support">
            <div class="chatbox__header">
              <div class="chatbox__image--header">
                <img
                  src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                  alt="image"
                />
                <!-- <img src="D:\SEMESTER 4\AI\AI_Project\templates\tp.png"  alt="image"> -->
              </div>
              <div class="chatbox__content--header">
                <h4 class="chatbox__heading--header">Chat support</h4>
                <p class="chatbox__description--header">
                  வணக்கம். என் பெயர் யாஸ். நான் உங்களுக்கு எப்படி உதவ முடியும்?
                </p>
              </div>
            </div>
            <div class="chatbox__messages">
              <div></div>
            </div>
            <div class="chatbox__footer">
              <input type="text" placeholder="ஒரு செய்தியை எழுது..." />
              <button
                class="chatbox__send--footer send__button"
                style="
                  color: #2f3855;
                  border-radius: 50%;
                  width: 50px;
                  background: #ffbd59;
                "
              >
                Send
              </button>
            </div>
          </div>
          <div class="chatbox__button">
            <button>
              <img
                src="{{ url_for('static', filename='images/chatbox-icon.svg') }}"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script
      type="text/javascript"
      src="{{url_for('static' , filename='app.js')}}"
    ></script>
  </body>
</html>
